body{
    display: flex;
    justify-content: center;

}

.password-generator-option{
    padding: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.password-generator-input{
    padding: 10px;
    font-size: 20px;
    font-family:Arial Helvetica, sans-serif;

}

#size{
    width: 40px;
}

.container{
    background-color: rgb(12, 233, 249);
    padding: 60px;
    margin: 50px;
    border-radius: 20px;
}

#inp{
    width: 100%;
    padding: 20px;
    font-size: large;
}

.generate{
   padding: 5px;
   margin: 10px;
   cursor: pointer;
   

}
.inp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }