body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.password-generator-option {
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.password-generator-input {
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#size {
    width: 40px;
}

.container {
    background-color: #20cd74;
    padding: 60px;
    margin: 50px;
    border-radius: 20px;
}

#inp {
    width: 100%;
    padding: 20px;
    font-size: large;
}

.generate {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.inp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.generate {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #008CBA; 
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate:hover {
    background-color: #45a049; 
}

.copy-to-clipboard {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #008CBA; 
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-to-clipboard:hover {
    background-color: #007B9F; 
}


@media only screen and (max-width: 767px) {
    body {
        align-items: flex-start; 
    }

    .container {
        padding: 20px; 
        margin: 20px; 
    }

    #inp {
        padding: 10px; 
    }
}
